<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p>You have received a new message from the site's contact form.</p>
        <p><%= "#{ @name }, #{ @email }." %></p>
        <p><%= @body %></p>
    </body>
</html>