<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>You have received a new message from DevMatch.</h1>
        <p><%= "#{ @name }, #{ @email }." %></p>
        <p><%= @body %></p>
    </body>
</html>